/*-----------------------------*/
/*------------FONTES-----------*/
/*-----------------------------*/
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: VT323;
  src: url(../fonts/VT323-Regular.ttf);
}

@font-face {
  font-family: PressStart2p;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
  margin: 0px;
  background-color: #121212;
}

/*-----------------------------*/
/*------------HEADER-----------*/
/*-----------------------------*/
header {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 756px;
  background-image: url('../images/backgroundlogo.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#logo {
  align-self: center;
  grid-row: 1/12;
}

header #logo1 {
  font-family: VT323, sans-serif;
  color: #fff;
  font-size: 96px;
  margin: 0px;
}
header #logo2 {
  font-family: PressStart2p, sans-serif;
  font-size: 96px;
  color: rgb(255, 235, 59);
  margin: 1px;
}

#barra-inicial {
  font-family: PressStart2p, sans-serif;
  grid-area: 12px;
  align-self: end;
  font-size: 15px;
  height: 38px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 'a b home filmes series animations animes c d';
  justify-content: center;
  align-content: center;
  background-color: #383838;
  grid-gap: 30px;
}

#barra-inicial a {
  text-decoration: none;
  color: #fff;
}

#destaques a:hover,
#barra-inicial a:hover,
#ponderacoes a:hover {
  text-decoration: underline;
}

#home {
  grid-area: home;
}
#filmes {
  grid-area: filmes;
}
#series {
  grid-area: series;
}
#animations {
  grid-area: animations;
}
#animes {
  grid-area: animes;
}

/*---------------------------*/
/*------------MAIN-----------*/
/*---------------------------*/

main {
  background-color: #121212;
  margin: 0;
}

main > section > div {
  background-color: #3838383d;
}

#barra-destaques,
#barra-ponderacoes {
  margin-top: 50px;
  margin-bottom: 50px;
}

.cor {
  color: #673ab7;
}

a.cor {
  color: #673ab7;
}

/*--------------------------------*/
/*------------DESTAQUES-----------*/
/*--------------------------------*/

/*=====Barra de Destaques====*/
#barra-destaques h2 {
  font-family: PressStart2p, sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

#barra-destaques h2::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 5px;
  background-color: #ffeb3b;
}

#barra-destaques h2::before {
  content: '';
  flex: -1;
  margin-right: 1rem;
  height: 5px;
  width: 50px;
  background-color: #ffeb3b;
}

/*=====Destaques da Página====*/

#destaques {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'destaque1 destaque1 destaque2 destaque2 destaque3 destaque3';
  align-content: center;
  justify-content: center;
  grid-gap: 20px;
  padding: 50px;
}

/*=====Organização dos Destaques====*/

#destaque-1 {
  grid-area: destaque1;
}

#destaque-2 {
  grid-area: destaque2;
}

#destaque-3 {
  grid-area: destaque3;
}

/*=====Configuração dos Cards de Destaques====*/

#destaques .minidestaques {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 20px;
  height: 535px;
  width: 433px;
  border-radius: 0px 0px 15px 15px;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

/*=====Configuração da Imagem do Destaque====*/

.imges1 {
  display: block;
  grid-row: 1/5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=====Configuração do Título do Destaque====*/

.titulo {
  grid-row: 5/6;
  padding: 0px 20px 0px 20px;
  line-height: 36px;
  height: 66px;
}

.titulo {
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  color: #ffeb3b;
  text-decoration: none;
}

/*=====Configuração do Texto do Destaque====*/

.textodestaque {
  text-align: left;
  align-self: start;
  grid-row: 6/8;
  padding: 0px 20px 0px 20px;
  line-height: 23px;
  text-align: left;
  margin: 0px;
}

.textodestaque {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/*----------------------------------*/
/*------------PONDERAÇÕES-----------*/
/*----------------------------------*/

/*=====Barra de Últimas Ponderações====*/

#barra-ponderacoes h2 {
  font-family: PressStart2p, sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

#barra-ponderacoes h2::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 5px;
  background-color: #ffeb3b;
}

#barra-ponderacoes h2::before {
  content: '';
  flex: -1;
  margin-right: 1rem;
  height: 5px;
  width: 50px;
  background-color: #ffeb3b;
}

/*=====Configuração do Template das Ponderações====*/

#ponderacoes {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 20px;
  align-content: center;
  justify-content: center;
}

#pond-1 {
  grid-row: 1/3;
}

#pond-2 {
  grid-row: 3/5;
}

#pond-3 {
  grid-row: 5/7;
}

#pond-4 {
  grid-row: 7/9;
}

/*=====Configuração dos Cards de Últimas Ponderações====*/

#ponderacoes .ponds {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  height: 380px;
  width: 1125px;
  grid-column: 1/6;
  border-radius: 15px;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
}
/*=====Configuração das imagens das Últimas Ponderações====*/

.pond-img {
  grid-column: 1/5;
  display: block;
  width: 93%;
  height: 300px;
  object-fit: cover;
  margin: 40px;
  border-radius: 5px;
}

/*=====Configuração dos Textos das Últimas Ponderações====*/

.pond-text {
  padding-top: 40px;
  padding-right: 40px;
  grid-column: 5/7;
}

/*Formatação do Título das Últimas Ponderações*/
.pond-text a {
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  color: #ffeb3b;
  text-decoration: none;
}

/*Formatação do Texto das Últimas Ponderações*/
.pond-text p {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #ffffff;
}

/*-----------------------------*/
/*------------FOOTER-----------*/
/*-----------------------------*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  text-align: left;
  height: 61px;
}

footer p {
  font-family: PressStart2P, sans-serif;
  color: #ffffff;
  font-size: 12px;
  margin: 0px;
}
